/* Write your CSS code here */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.heading {
  color: #ea580c;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

.box-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .box-container {
    max-width: 450px;
    box-shadow:
      0px 0px #9aa5b1,
      -1em 0 0.4em #9aa5b1;
    /*flex-shrink: 0;*/
    padding: 48px 64px 48px 64px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-element {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: #475569;
  font-weight: 500;
  width: 100%;
}

.user-input {
  width: 220px;
  border: 1px solid #cbd2d9;
  height: 35px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 15px;
  outline-color: transparent;
  color: #9aa5b1;
}

@media screen and (min-width: 768px) {
  .user-input {
    width: 300px;
  }
}

.error-field {
  background-color: #ff0b370d;
  border: 1px solid #ff0b37;
}

.submit-button {
  width: 100px;
  background-color: #ea580c;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .submit-button {
    width: 200px;
  }
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-heading {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #475569;
  text-align: center;
}

.resubmit {
  min-width: 200px;
  background-color: #ea580c;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.error-message {
  align-self: start;
  margin-top: 3px;
  margin-bottom: 0;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  padding-left: auto;
}

.input-text {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}
